

/* body of pages */
body {
    background-color: black;
    text-align: center;
    color: white;
}

/* defualt for images */
.img{
    width: 200px;
}

/* for the list of blogs */
#blogListHolder{
    display: grid;
}
