

/* body of pages */
body {
    background-color: black;
    text-align: center;
    color: white;
}

/* for the list of blogs */
#blogListHolder{
    display: grid;
}

/* defualt for images */
.img{
    cursor: zoom-in;
    position: relative;
    width: 200px;
    transform: scale(100%);
    transition: all 0.3s ease-in-out;
}

.imgHidden {
    opacity: 0.2;
}

.bgfade{
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: green;
    z-index: 2;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}


.fadeIn{
    cursor: zoom-out;
    pointer-events: auto;
    opacity: 1;
}