/* ----------- SIDEBAR ------------ */

/* The whole sidebar*/
#sideBar { /* closed by default */
    color: red;
    position: fixed;

    top: 0;
    right: 0px;

    height: 100%;
    width: 300px;

    white-space: nowrap;
    overflow: hidden;

    background-color: aquamarine;

    transform: translateX(75%);
    transition: transform 0.3s ease-in-out;

    display: flex;
    z-index: 4;
}

/* sidebard when open, slides out from the side */
#sideBar.open {
    background-color: red;
    transform: translateX(0);
}

/* the small part of the sidebar that is awlays visable */
#sbHint{
    width: 25%;
    background-color: purple;
}

/* the body of the sidebar that is visable when */
#sbBody{
    width: 75%;
    background-color: bisque;
}

/* ----------- BOTTOM BAR ------------ */

/* the bar on the bottom */
#bottomBar{
    background-color: aqua;
    color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 5;
}