/* ----------- SIDEBAR ------------ */

/* The whole sidebar*/
#sideBar { /* closed by default */
    color: #F2B712;
    position: fixed;

    top: 0;
    right: 0px;

    height: 100%;
    width: var(--sidebarWidth);

    white-space: nowrap;
    overflow: hidden;

    transform: translateX(75%);
    transition: transform 0.3s ease-in-out;

    display: flex;
    z-index: 4;
}

/* sidebard when open, slides out from the side */
#sideBar.open {

    transform: translateX(0);
}

/* the small part of the sidebar that is awlays visable */
#sbHint{
    width: 25%;
    background-color: #454545;
}

/* the body of the sidebar that is visable when */
#sbBody{
    width: 75%;
    background-color: #242424;
}

/* ----------- BOTTOM BAR ------------ */

/* the bar on the bottom */
#bottomBar{
    background-color: #454545;
    position: fixed;
    text-align: left;
    bottom: 0;
    width: 100%;
    z-index: 5;
}

#customScroll{
    position: fixed;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    z-index: 6;
    background-color: #F2B712;
}

#customScrollBar{
    position: relative;
    background-color: #F2B712;
    z-index: 7;
    height: 5%;
    top: 0px;
}


#sideBarPopBtn {
    position: relative;

    padding-top: 5px;
    font-family: 'AVA';
    font-size: 35px;
    user-select: none;

    transition: all 0.3s ease-in-out;
}

#sbHint{
    cursor: pointer;
}

.Flip{
    rotate: -180deg;
}

@font-face {
    font-family: 'AVA';
    src: url('/AVA.ttf');
}

#bioHolder{
    background-color: #454545;
}

#exTopPannel{
    position: relative;
    background-color: #454545
}

